<b>Заявка на продаж № ---</b>
{% if product_name %}{{ product_name }}{% else %}Не знайдено такого товару, перестворіть оголошення{% endif %}
{% if weight %}{{ weight }} МТ{% else %}Не введено тоннаж, перестворіть оголошення{% endif %}
{% if region_name and subregion_name %}{{ region_name }} обл., {{subregion_name}} рн., {{city_name}}{% else %}Не обрано регіон, перестворіть оголошення{% endif %}
{% if basis %}{{ basis}}{% else %}Не обрано Базис, перестворіть оголошення{% endif %}
{% if price and currency and price_type %}{{ price }}, {{ currency }} ({{ price_type }}){% else %}Неправильно введено ціну, перестворіть оголошення{% endif %}
{% if company_account %}
{{ company_account.tov }}
{{ company_account.id }}
{{ company_account.name }}
{% else %}
Ви не зарєстровані
{% endif %}

якийсь нижній текст