✏️  <b>Заявка на продаж #{% if sale.pk %}{{ sale.pk }}{% else %}---{% endif %}</b>


🌱  {% if sale.product %}{{ sale.product }}{% else %}Не знайдено такого товару, перестворіть оголошення{% endif %}
🚛  {% if sale.weight %}{{ sale.weight }} МТ{% else %}Не введено тоннаж, перестворіть оголошення{% endif %}
🗺️  {% if sale.region and sale.subregion %}{{ sale.region.name }} обл., {{sale.subregion.name}} рн., {% if sale.city %}{{sale.city.name}}{% endif %}{% else %}Не обрано регіон, перестворіть оголошення{% endif %}
{% if sale.basis %}{{ sale.basis }}{% else %}Не обрано Базис, перестворіть оголошення{% endif %}
🪙  {% if sale.price and sale.currency and sale.price_type %}{{ sale.price }}, {{ sale.get_currency_display }} ({{ sale.get_price_type_display }}{% if sale.vat %}, {{ sale.get_vat_display }}{% endif %}){% else %}Неправильно введено ціну, перестворіть оголошення{% endif %}
{% if sale.company %}
🏢  {{ sale.company.tov }}
🆔  {{ sale.company.id }}
👨‍💼  {{ sale.company.name }}
☎️  <a href="tel:{{ sale.company.phone }}">{{ sale.company.phone }}</a>
{% else %}
Ви не зарєстровані
{% endif %}

